rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /students/{docId=**} {
      allow read, write: if true;
    }

    match /staff/{docId=**} {
      allow read, write: if true;
    }

    match /holidays/{docId=**} {
      allow read, write: if true;
    }

    match /attendance/{docId=**} {
      allow read, write: if true;
    }

    match /results/{docId=**} {
      allow read, write: if true;
    }
    
    match /feeCollections/{docId=**} {
      allow read, write: if true;
    }

    match /transactions/{docId=**} {
      allow read, write: if true;
    }

    match /school/{docId=**} {
      allow read, write: if true;
    }
  }
}
